securewifi_ssid: "{{ op://homelab/securewifi/ssid }}"
securewifi_password: "{{ op://homelab/securewifi/password }}"
fallback_ap_password: "{{ op://homelab/securewifi/fallback_ap_password }}"
api_encryption_key: "{{ op://homelab/esphome/api_encryption_key }}"
ota_password: "{{ op://homelab/esphome/ota_password }}"
